.list {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 5px 10px;
}

.selectedItem {
    background-color: yellow;
    border: 1px solid black;
    color: red;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.search input {
    height: 20px;
}

